rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    match /products/{productId} {
      allow read: if resource.data.status == "active";
      allow write: if isAdmin();
    }

    match /lookCollections/{collectionId} {
      allow read: if resource.data.status == "active";
      allow write: if isAdmin();
    }

    match /looks/{lookId} {
      allow read: if resource.data.status == "active";
      allow write: if isAdmin();
    }


    match /users/{userId}/productFavorites/{productId} {
      allow read, delete: if request.auth != null && request.auth.uid == userId;
      allow create, update: if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.productId == productId;
    }

    match /users/{userId}/lookFavorites/{lookId} {
      allow read, delete: if request.auth != null && request.auth.uid == userId;
      allow create, update: if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.lookId == lookId;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
